:root{
    --title-text:#FBFBFB;
    --main-color:#F03F3B;
    --accent-color: #11101C;
    --accent-color-05:rgba(17, 16, 28, 0.50);
    --filter-color: rgba(17, 16, 28, 0.30);
    --description-color: #8A8A89;
    --price-color:#38CD3E;
}